{% extends 'base.html' %} {% block content %}
<!-- You're gonna show the list of all the articles -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Where noob lives</h1>
        <p class="lead">Are you a noob and want to become a Bombino, you are at the right place :)</p>
    </div>
</div>

{% for article in articles %}

<style>
    .center {
        display: flex;
        justify-content: center;
    }

    .card {
        margin: 24px;
    }
</style>

<div class="container center">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ article.title }}</h5>
            <p class="card-text">{{ article.content|truncatechars:30 }}</p>
            <!-- This should point to the page of each article -->
            <a href="{% url 'article' article.id %}" class="btn btn-primary">Read more</a>
        </div>
    </div>
</div>

{% endfor %} {% endblock %}